# Ignore virtual environment
.venv/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore logs and temporary files
*.log
*.tmp

backend/data_files/
backend/cpp_src/obj/
backend/cpp_src/bin/
*.gitignore

# Ignore environment files
.env
